# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/kcgarmen/app"
PassengerBaseURI "/"
PassengerNodejs "/home/kcgarmen/nodevenv/app/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js


<IfModule Litespeed>
SetEnv PORT 4001
SetEnv NODE_ENV production
SetEnv HOST_NAME kc-garments.com

</IfModule>

# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
<IfModule mod_rewrite.c> 
    Options -MultiViews
    RewriteEngine On 
    RewriteBase / 
    RewriteRule ^index\.html$ - [L] 
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_FILENAME} !-d 
    RewriteCond %{REQUEST_FILENAME} !-l 
    RewriteRule ^ index.html [QSA,L]
</IfModule>
